{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active" href="#"> My order history </a>
			<a class="list-group-item" href="#">Settings </a>
			<a class="list-group-item" href="#"> My Selling Items </a>
			<a class="list-group-item" href="#"> Received orders </a>
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
		<!--   SIDEBAR .//END   -->
	</aside>
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Message ID: 6123456789</strong>
			<span>Message Date: 16 December 2018</span>
		</header>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<h6 class="text-muted">Details: </h6>
					<p>Michael Jackson <br>
					Phone +1234567890 Email: myname@pixsellz.com <br>
			    	Location: Home number, Building name, Street 123,  Tashkent, UZB <br>
			    	P.O. Box: 100123
			 		</p>
				</div>
			</div>
		</div> <!-- card-body .// -->
		<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<td width="65">
					<img src="../images/items/1.jpg" class="img-xs border">
				</td>
				<td>
					<p class="title mb-0">Product name goes here </p>
				</td>
				<td> Donator <br> Nike clothing </td>
				<td width="250"> <a href="#" class="btn btn-light"> Details </a> </td>
			</tr>
		</table>
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}
